.panel-lateral{

position:fixed;

right:15px;
top:50%;

transform:translateY(-50%);

display:flex;
flex-direction:column;

gap:10px;

z-index:99999;

pointer-events:auto;

}

.btn-lateral{

width:55px;
height:55px;

border-radius:50%;

border:none;

font-size:20px;

cursor:pointer;

position:relative;

z-index:99999;

}
