.contenido{

display:block;

position:relative;

z-index:9999;

}

.oculto{

display:none;

}


.tirador{

text-align:center;

font-size:18px;

cursor:pointer;

margin-bottom:10px;

user-select:none;

}

