body{

font-family:Arial;
padding:20px;
text-align:center;

}

.tabs{

margin-bottom:20px;

}

.tabs button{

padding:10px;
margin:5px;
font-size:16px;

}

.oculto{

display:none;

}

.contenido{

margin-top:20px;

}

button{

padding:10px;
font-size:16px;

}

input{

padding:10px;
font-size:16px;

}

#ubicacion{

margin-top:20px;

}

#mapa{

height:300px;
margin-top:20px;
border:1px solid #ccc;

}
