#referencias{

position:fixed;

left:15px;
right:15px;

bottom:15px;

background:rgba(255,255,255,0.92);

padding:15px;

border-radius:20px;

box-shadow:0 4px 10px rgba(0,0,0,0.2);

z-index:9999;

}

.contraido{

transform:translateY(82%);

transition:0.4s;

}
